/* Hide main tabs toolbar */
#TabsToolbar {
        visibility: collapse !important;
}

/* Sidebar min and max width removal */
#sidebar {
        max-width: none !important;
        min-width: 0px !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
        display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
        visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
        --thin-tab-width: 75px;
        --wide-tab-width: 450px;
}

#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
        min-width: var(--wide-tab-width) !important;
        max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
        position: relative !important;
        transition: all 300ms !important;
        min-width: var(--thin-tab-width) !important;
        max-width: var(--thin-tab-width) !important;
        margin-left: 0 !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
        transition: all 300ms !important;
        min-width: var(--wide-tab-width) !important;
        max-width: var(--wide-tab-width) !important;

        /* Negative right-margin to keep page from being pushed to the side. */
        margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}

#back-button {
        padding-left: 8px !important;
}

#nav-bar-customization-target {
    background-color: var(--theme-background-primary);
}

#navigator-toolbox, #nav-bar, #PersonalToolbar {
        background-color: var(--theme-background-primary) !important;
        border: none !important;
}

#navigator-toolbox::after {
  visibility: hidden !important;
}


#main-window {
        background-color: var(--theme-background-primary) !important;
}
