@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/* hide tab toolbar when fullscreen */
#nav-bar[inFullscreen],
#TabsToolbar[inFullscreen] {
	display: none;
}

/* hide titlebar buttons */
#TabsToolbar > .titlebar-buttonbox-container {
	display: none !important;
}

#TabsToolbar {
	display: none !important;
}
